.container {

    position: relative;
}

.stopwatch-container {

    background-color: #504E4E;
    padding: 1px;
    width: 280px;
    position: absolute;
    border-radius: 20px;
    margin: 0;
    left: 35px;
    top: 60px;
    box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
    display: flex;
    justify-content: center;
    align-items: center;
}

.stopwatch-container .time {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: white;
    margin: 0;
    font-size: 65px;
}