.controls-container {

    display: flex;
    flex-direction: row;
    position: relative;
}

.pause {

    padding: 1px;
    background-color: #109648;
    border-radius: 10px;
    width: 65px;
    height: 65px;
    position: absolute;
    top: 220px;
    left: 90px;
    box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
    cursor: pointer;
    transition: all 0.25s ease;
}

.discard {

    padding: 1px;
    background-color: #D7263D;
    border-radius: 10px;
    width: 65px;
    height: 65px;
    position: absolute;
    top: 220px;
    left: 200px;
    box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
    cursor: pointer;
    transition: all 0.25s ease;
}

.archive {

    padding: 1px;
    background-color: #1a5a9a;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 320px;
    left: 152px;
    box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
    cursor: pointer;
    transition: all 0.25s ease;
}

.pause:hover {

    background-color: #0c7438;
}

.discard:hover {
    
    background-color: #B02032;
}

.archive:hover {

    background-color:  #134074;
}