.controls-container {

    display: flex;
    flex-direction: row;
    position: relative;
}

.pauseResume {

    padding: 1px;
    background-color: #109648;
    border-radius: 10px;
    width: 65px;
    height: 65px;
    position: absolute;
    top: 200px;
    left: 90px;
    box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
    cursor: pointer;
    transition: all 0.25s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pauseResume:active {

    transform: scale(0.9);
}

.play-icon {

    color: #fafaff;
    font-size: 40px;
    transition: all 0.25s ease;
}

.pause-icon {

    color: #fafaff;
    font-size: 40px;
    transition: all 0.25s ease;
}

.pause:hover .play-icon {

    color: #daddd8;
}

.discard {

    padding: 1px;
    background-color: #D7263D;
    border-radius: 10px;
    width: 65px;
    height: 65px;
    position: absolute;
    top: 200px;
    left: 200px;
    box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
    cursor: pointer;
    transition: all 0.25s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.discard-icon {

    color: #fafaff;
    font-size: 35px;
    transition: all 0.25s ease;
}

.discard:hover .discard-icon {

    color: #daddd8;
}

.discard:active {

    transform: scale(0.9);
}

.archive {

    padding: 1px;
    background-color: #1a5a9a;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 300px;
    left: 152px;
    box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
    cursor: pointer;
    transition: all 0.25s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.archive-icon {

    color: #fafaff;
    font-size: 25px;
    transition: all 0.25s ease;
}

.archive:hover .archive-icon {

    color: #daddd8;
}

.archive:active {

    transform: scale(0.9);
}

.pause:hover {

    background-color: #0c7438;
}

.discard:hover {
    
    background-color: #B02032;
}

.archive:hover {

    background-color:  #134074;
}